In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
ds = pd.read_csv('heart_disease_new.csv')

In [4]:
ds.head()

   age  sex  cp  trestbps  chol  target
0   63    1   3       145   233       1
1   37    1   2       130   250       1
2   41    0   1       130   204       1
3   56    1   1       120   236       1
4   57    0   0       120   354       1

In [5]:
ds.shape

(303, 6)

In [6]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   target    303 non-null    int64
dtypes: int64(6)
memory usage: 14.3 KB

In [7]:
ds.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
target      0
dtype: int64

In [8]:
ds.describe()

              age         sex          cp    trestbps        chol      target
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.544554
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.498835
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    1.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    1.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

In [9]:
#checking the distribution of target variable
ds['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

1 --> defective heart
0 --> healthy heart

In [10]:
#splitting the feature and target
X = ds.drop(columns = 'target', axis = 1)
Y = ds['target']

In [11]:
print(X)

     age  sex  cp  trestbps  chol
0     63    1   3       145   233
1     37    1   2       130   250
2     41    0   1       130   204
3     56    1   1       120   236
4     57    0   0       120   354
..   ...  ...  ..       ...   ...
298   57    0   0       140   241
299   45    1   3       110   264
300   68    1   0       144   193
301   57    1   0       130   131
302   57    0   1       130   236

[303 rows x 5 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(303, 5) (242, 5) (61, 5)

In [15]:
#model training
#logistic Regression
regression = LogisticRegression()

In [16]:
#training log reg model with training data
regression.fit(X_train, Y_train)

LogisticRegression()

In [17]:
print(regression.coef_)

[[-0.06033905 -1.85628575  1.13117946 -0.01345373 -0.00450843]]

In [18]:
print(regression.intercept_)

[6.65427295]

In [19]:
#model evaluation
#accuracy score
#accuracy on training data
X_train_prediction = regression.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [20]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7851239669421488

In [21]:
#accuracy on test data
X_test_prediction = regression.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [22]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7213114754098361

In [24]:
#building predictive System
input_data = (63,1,3,145,233)
#changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)
#reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1, -1)

prediction = regression.predict(input_data_reshaped)
print(prediction)
if (prediction[0] == 0):
    print('You do no have any Heart Disease')
else:
    print('You are suffering from a Heart Disease')

[1]
You are suffering from a Heart Disease

C:\Users\arpit\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [26]:
import pickle

In [27]:
pickle.dump(regression, open('logregmodel.pkl', 'wb'))

In [28]:
loaded_model=pickle.load(open('logregmodel.pkl', 'rb'))